body
{
    background:#5f6a29;
    color:#FFF;
}
canvas
{
	display: block;
	position: absolute;
	text-align: center;
	top: 50px;
	right: 0px;
	left: 0px;
	margin: auto;
    background:#f8fbef;
}
#controls
{
    position:absolute;
    top:0;
    right:0;
    margin:10px;
}

#left_aside
{
	width: 180px;
	height: auto;
}